<section
  class="bg-gray-100 h-screen w-screen flex items-center justify-center p-10"
>
  <div class="py-8 px-6 mx-auto bg-white shadow-lg rounded-lg">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1
        class="mb-6 text-8xl tracking-tight font-extrabold text-gray-700 lg:text-9xl"
      >
        404
      </h1>
      <p
        class="mb-4 text-2xl tracking-tight font-semibold text-gray-800 md:text-3xl"
      >
        Oops! Page not found.
      </p>
      <p class="mb-6 text-lg font-light text-gray-600">
        The page you're looking for doesn't exist or has been moved. Let's get
        you back on track.
      </p>
      <a
        routerLink="/"
        class="inline-flex items-center bg-blue-500 text-white hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-6 py-3 transition-all duration-300"
      >
        Back to Homepage
      </a>
    </div>
  </div>
</section>
